@font-face {
  font-family: ExoThin;
  src: url("../fonts/Exo-Thin.ttf"); }

@font-face {
  font-family: ExoRegular;
  src: url("../fonts/Exo-Regular.ttf"); }

@font-face {
  font-family: ExoMedium;
  src: url("../fonts/Exo-Medium.ttf"); }

.exo-thin-font {
  font-family: ExoThin, sans-serif; }

.exo-medium-font {
  font-family: ExoMedium, sans-serif; }

.exo-regular-font {
  font-family: ExoRegular, sans-serif; }

.pink {
  color: #f26c6e; }

.placeholder-pink::placeholder {
  color: #f26c6e; }

.gray {
  color: #717171; }

.placeholder-gray::placeholder {
  color: #717171; }

.white {
  color: #ffffff; }

.placeholder-white::placeholder {
  color: rgba(255, 255, 255, 0.74); }

.center {
  text-align: center; }

.margin-0 {
  margin: 0; }

.uppercase {
  text-transform: uppercase; }

.placeholder-uppercase::placeholder {
  text-transform: uppercase; }

.img {
  width: 100%; }

.container-row {
  display: flex;
  flex-direction: row; }

.wrap-items {
  flex-wrap: wrap; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container-main {
  display: flex;
  flex-direction: column; }

.section {
  padding: 0 10px; }
  @media (min-width: 600px) {
    .section {
      padding: 0 50px; } }

.section-main {
  background-image: url("../img/background-main.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh; }

.headline-main {
  text-align: center;
  font-family: ExoThin, sans-serif;
  font-size: 30pt; }
  @media (min-width: 600px) {
    .headline-main {
      font-size: 40pt; } }

.try-block {
  text-align: center;
  margin: 40px; }

.play-button:hover > .fill-gray {
  fill: #5d5d5d;
  cursor: pointer; }

.play-button-svg {
  max-width: 50px;
  max-height: 50px; }

.fill-gray {
  fill: gray; }

.try-block-button {
  text-transform: uppercase;
  font-family: ExoRegular, sans-serif;
  font-size: 16pt;
  color: white;
  border-radius: 3px;
  border: none;
  background-color: #ff6d6d;
  padding: 12px 45px; }
  @media (min-width: 600px) {
    .try-block-button {
      padding: 12px 85px; } }

.try-block-button:hover {
  background-color: #ef6565; }

.try-block-hint {
  margin: 10px;
  color: #8b8b8e;
  font-family: ExoRegular, sans-serif;
  font-size: 14pt; }

.section-2-text {
  margin: auto; }
  @media (min-width: 980px) {
    .section-2-text {
      max-width: 40vw; } }

.section-2 {
  position: relative;
  min-height: 55vh; }
  .section-2 .triangle {
    position: absolute;
    bottom: 0;
    background-color: #ececec;
    right: 0;
    width: 0;
    height: 100%;
    border-style: solid;
    border-width: 0 0 50vh 50vh;
    border-color: transparent transparent #fb8686 transparent; }
    @media (max-width: 980px) {
      .section-2 .triangle {
        display: none; } }
  .section-2 .new-design {
    z-index: 10;
    background-color: white;
    height: 100%; }
    @media (min-width: 600px) {
      .section-2 .new-design {
        margin: 0 40% 0 0; } }

.section-2-description {
  padding: 80px 50px 80px 20px;
  display: flex;
  flex-direction: column;
  align-content: center; }
  @media (min-width: 980px) {
    .section-2-description {
      width: calc(100% - 500px);
      padding-left: 20px; } }

.section-2-headline {
  font-size: 25px;
  font-family: ExoMedium, sans-serif;
  color: #282828;
  line-height: 1.25;
  text-align: center; }
  @media (min-width: 600px) {
    .section-2-headline {
      text-align: left; } }

.section-2-label {
  font-size: 16px;
  font-family: ExoMedium, sans-serif;
  color: #ff6d6d;
  line-height: 3.125;
  text-align: center;
  margin-bottom: -10px; }
  @media (min-width: 600px) {
    .section-2-label {
      text-align: left; } }

.section-2-paragraph {
  font-size: 16px;
  font-family: ExoMedium, sans-serif;
  color: rgba(40, 40, 40, 0.659);
  line-height: 1.625;
  margin-top: 40px;
  text-align: center; }
  @media (min-width: 600px) {
    .section-2-paragraph {
      text-align: left; } }

.section-2-headline-dots {
  color: #ff6d6d; }

.section-2-photo {
  width: 35%; }

.section-3 {
  height: unset;
  background-color: #F6F5F3; }
  @media (min-width: 600px) {
    .section-3 {
      background-position: center;
      padding: 50px;
      background-image: url("../img/section-3-BG.png");
      background-size: cover; } }

.section-3-coffecup {
  position: absolute;
  right: 0; }

.section-3-title {
  font-family: ExoMedium, sans-serif;
  font-size: 38pt;
  text-align: center; }
  @media (min-width: 600px) {
    .section-3-title {
      text-align: left; } }

.section-3-new-features {
  align-items: center;
  text-align: center;
  justify-content: space-evenly; }

.section-3-icon {
  margin-bottom: 10px; }
  @media (min-width: 600px) {
    .section-3-icon {
      margin-bottom: 30px; } }

.feature-title {
  text-align: center;
  margin: 20px 0 10px 0; }
  @media (min-width: 600px) {
    .feature-title {
      margin: 35px 0 60px 0; } }

.feature-card {
  margin: 40px 20px; }
  @media (min-width: 600px) {
    .feature-card {
      max-width: 27%;
      margin: auto; } }

.section-4 {
  background-repeat: no-repeat;
  background-position: -150px;
  height: unset;
  position: relative; }
  @media (min-width: 600px) {
    .section-4 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      height: 60vh;
      align-items: center; } }
  .section-4 .triangle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-style: solid;
    border-width: 0 60vh 60vh 0;
    z-index: -1;
    border-color: transparent transparent #fb8686 transparent; }
    @media (max-width: 760px) {
      .section-4 .triangle {
        display: none; } }

.section-4-macbook {
  display: none; }
  @media (min-width: 760px) {
    .section-4-macbook {
      display: block;
      width: 50%;
      max-width: 550px;
      margin: 35px 0; } }

.section-4-new-design {
  margin: 40px 15px; }
  @media (min-width: 760px) {
    .section-4-new-design {
      width: 50%; } }

.section-4-title {
  text-align: center; }
  @media (min-width: 600px) {
    .section-4-title {
      max-width: 80%;
      text-align: left; } }

.section-4-paragraph {
  max-width: 90%; }
  @media (max-width: 600px) {
    .section-4-paragraph {
      text-align: center;
      max-width: none;
      margin: 0 20px; } }

.section-5 {
  background-image: url("../img/section-5-BG.png");
  height: unset;
  background-repeat: round; }
  @media (min-width: 600px) {
    .section-5 {
      padding: 50px 10px;
      align-items: center; } }

.section-5-partners {
  display: none; }
  @media (min-width: 600px) {
    .section-5-partners {
      display: flex;
      margin-bottom: 30px;
      margin-top: 40px;
      width: 100%;
      justify-content: space-around; } }

.section-5-name {
  margin: 20px 0 0 0; }

.section-6-title {
  margin: 10px; }

.section-6 {
  background-image: url("../img/section-6-BG.png");
  height: unset; }

.section-6-trynow {
  position: relative;
  width: 90%;
  margin: 50px 15px 15px; }
  @media (min-width: 600px) {
    .section-6-trynow {
      width: 20%;
      margin: 15px; } }

.section-6-tooltip {
  position: absolute;
  top: -50px;
  left: 25px;
  white-space: nowrap;
  color: rgba(246, 245, 243, 0.6); }
  .section-6-tooltip img {
    position: absolute;
    top: 0px;
    left: -25px; }

.section-6-new-design {
  margin: 70px 0; }

.section-6-paragraph {
  margin: 35px auto;
  text-align: center; }
  @media (min-width: 600px) {
    .section-6-paragraph {
      max-width: 70%;
      margin: auto; } }
  @media (max-width: 600px) {
    .section-6-paragraph {
      text-align: center;
      margin: 30px 20px; } }

.section-6-browser {
  display: none; }
  @media (min-width: 600px) {
    .section-6-browser {
      display: flex;
      max-width: 70%;
      margin: auto; } }

.section-7 {
  background-image: url("../img/section-7-BG.png");
  height: unset; }
  @media (min-width: 600px) {
    .section-7 {
      padding: 60px; } }

.signup-form {
  margin-top: 60px; }

.signup-input {
  border-radius: 3px;
  border-width: 1px;
  border-color: white;
  margin: 15px;
  height: 35px;
  width: 90%;
  padding-left: 7px;
  outline: none; }
  @media (min-width: 600px) {
    .signup-input {
      width: 20%; } }

.section-7-terms {
  color: #b8b9c3;
  font-size: 14pt;
  margin: 25px 0; }

.section-7-terms-link {
  color: inherit;
  text-decoration: underline;
  cursor: pointer; }

.section-7-terms-link:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

.transparent-background {
  background-color: #ffffff2b; }

.signup-button {
  border-radius: 3px;
  height: 35px;
  background-color: #ff6d6d;
  border: none;
  outline: none;
  width: 100%; }

.signup-button:hover {
  background-color: #ef6565; }

.footer {
  font-size: 14pt; }

.footer {
  margin-left: 20px; }
  .footer__social {
    display: none; }
    @media (min-width: 600px) {
      .footer__social {
        display: flex;
        width: 100%;
        justify-content: space-around; } }
  .footer__description {
    width: 85%; }
  .footer__column {
    margin: 20px 10px;
    width: 100%; }
    @media (min-width: 600px) {
      .footer__column {
        width: calc(25% - 30px); } }
  .footer__item {
    color: #282828; }
  .footer__item:hover {
    text-decoration: none; }
  .footer__address {
    color: inherit; }
  .footer__address:hover {
    text-decoration: none; }
  .footer__tel {
    color: inherit; }
  .footer__tel:hover {
    text-decoration: none; }
  .footer__send-button:hover {
    cursor: pointer;
    filter: brightness(0.9); }

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px; }

.icon {
  margin-left: -10px; }

.input-field {
  width: 100%;
  padding: 10px;
  outline: none; }
